In [1]:
import pandas as pd
import numpy as np

In [2]:
URL = r"D:\UM internship\Bird Strike\birdnew.csv"

birdstrike_new1 = pd.read_csv(URL)
birdstrike_new1

,Unnamed: 0,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,Aircraft: Number of engines?,...,Remains of wildlife sent to Smithsonian,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,0,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23,Caused damage,2.0,...,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,N,30736,1500.0,0,Yes
1,1,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,None,2001-07-25,Caused damage,2.0,...,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,Y,0,0.0,0,No
2,2,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,None,2001-09-14,No damage,2.0,...,False,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,N,0,50.0,0,No
3,3,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,2002-09-05,No damage,2.0,...,False,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",Small,Some Cloud,European starling,Y,0,50.0,0,Yes
4,4,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,None,2003-06-23,No damage,2.0,...,False,NO DMG REPTD.,Small,No Cloud,European starling,N,0,50.0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25424,25424,SACRAMENTO INTL,< 1000 ft,B-737-700,1,1,None,2011-12-29,No damage,2.0,...,True,ID BY SMITHSONIAN. SAMPLES FROM BOTH A/C AND B...,Medium,No Cloud,Mallard,Y,0,10.0,0,Yes
25425,25425,REDDING MUNICIPAL,> 1000 ft,EMB-120,1,1,None,2011-12-30,No damage,2.0,...,False,DUCK? NO DMG REPTD.,Large,Overcast,Unknown bird - large,N,0,1500.0,0,No
25426,25426,ORLANDO INTL,< 1000 ft,A-321,1,1,None,2011-12-30,No damage,2.0,...,False,NaN,Small,Some Cloud,Tree swallow,Y,0,0.0,0,No
25427,25427,DETROIT METRO WAYNE COUNTY ARPT,< 1000 ft,B-757-200,1,1,None,2011-12-31,No damage,2.0,...,False,PILOTS REPORT STRIKING UNKNOWN BIRD ON RWY 21L...,Medium,Some Cloud,Unknown bird - medium,Y,0,0.0,0,Yes
25428,25428,ABRAHAM LINCOLN CAPITAL ARPT,< 1000 ft,B-737-400,1,1,None,2011-12-31,Caused damage,2.0,...,False,"HIT CENTER OF RADOME, CAVING IN ABOUT 12"". RAD...",Medium,No Cloud,Red-tailed hawk,N,0,0.0,0,Yes

In [5]:
birdstrike_new1['FlightDate']

0        2000-11-23
1        2001-07-25
2        2001-09-14
3        2002-09-05
4        2003-06-23
            ...
25424    2011-12-29
25425    2011-12-30
25426    2011-12-30
25427    2011-12-31
25428    2011-12-31
Name: FlightDate, Length: 25429, dtype: object

In [7]:
birdstrike_new1_sorted = birdstrike_new1.sort_values('FlightDate')

In [11]:
birdstrike_new1_sorted.to_csv(r'D:\UM internship\Bird Strike\birdstrike_ascflightdate.csv')

In [2]:
URL = r"D:\UM internship\Bird Strike\cleaned_data_with_filterspecies.csv"
df = pd.read_csv(URL)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24662 entries, 0 to 24661
Data columns (total 23 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Airport: Name                            24662 non-null  object
 1   Altitude bin                             24662 non-null  object
 2   Aircraft: Make/Model                     24662 non-null  object
 3   Wildlife: Number struck                  24662 non-null  object
 4   Wildlife: Number Struck Actual           24662 non-null  int64
 5   Effect: Impact to flight                 24662 non-null  object
 6   FlightDate                               24662 non-null  object
 7   Effect: Indicated Damage                 24662 non-null  object
 8   Aircraft: Number of engines?             24662 non-null  float64
 9   Aircraft: Airline/Operator               24662 non-null  object
 10  Origin State                             24662 non-null  object
 11  When: Phase of flight                    24662 non-null  object
 12  Conditions: Precipitation                24662 non-null  object
 13  Remains of wildlife collected?           24662 non-null  bool
 14  Remains of wildlife sent to Smithsonian  24662 non-null  bool
 15  Wildlife: Size                           24662 non-null  object
 16  Conditions: Sky                          24662 non-null  object
 17  Wildlife: Species                        24662 non-null  object
 18  Pilot warned of birds or wildlife?       24662 non-null  object
 19  Cost: Total $                            24662 non-null  int64
 20  Feet above ground                        24662 non-null  int64
 21  Number of people injured                 24662 non-null  int64
 22  Is Aircraft Large?                       24662 non-null  object
dtypes: bool(2), float64(1), int64(4), object(16)
memory usage: 4.0+ MB

In [5]:
df_counts = df.groupby(['Effect: Indicated Damage'])

In [13]:
df_counts.count()

,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Aircraft: Number of engines?,Aircraft: Airline/Operator,Origin State,...,Remains of wildlife collected?,Remains of wildlife sent to Smithsonian,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
Effect: Indicated Damage,,,,,,,,,,,,,,,,,,,,,
Caused damage,2301,2301,2301,2301,2301,2301,2301,2301,2301,2301,...,2301,2301,2301,2301,2301,2301,2301,2301,2301,2301
No damage,22361,22361,22361,22361,22361,22361,22361,22361,22361,22361,...,22361,22361,22361,22361,22361,22361,22361,22361,22361,22361

In [14]:
df.shape

(24662, 23)

In [15]:
df['Feet above ground'].mean()

805.2768631903333

In [16]:
df_avg_altitude = df.groupby('When: Phase of flight')['Feet above ground'].mean().reset_index(name='Average Altitude')

In [17]:
df_avg_altitude

  When: Phase of flight  Average Altitude
0              Approach       1004.041187
1                 Climb       1202.797558
2               Descent       5921.011780
3          Landing Roll          0.000000
4                Parked          0.000000
5          Take-off run          0.101964
6                  Taxi          0.000000