In [81]:
import pandas as pd
import numpy as np

In [265]:
URL = r"D:\UM internship\Bird Strike\Bird Strikes data.xlsx"

bird_df = pd.read_excel(URL)

In [266]:
bird_df.head()

,Record ID,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,...,Remains of wildlife sent to Smithsonian,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23,Caused damage,...,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,N,30736,1500.0,0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,None,2001-07-25,Caused damage,...,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,Y,0,0.0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,None,2001-09-14,No damage,...,False,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,N,0,50.0,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,2002-09-05,No damage,...,False,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",Small,Some Cloud,European starling,Y,0,50.0,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,None,2003-06-23,No damage,...,False,NO DMG REPTD.,Small,No Cloud,European starling,N,0,50.0,0,No

In [267]:
bird_df.shape

(25558, 26)

In [268]:
bird_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25558 entries, 0 to 25557
Data columns (total 26 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                25558 non-null  int64
 1   Aircraft: Type                           25429 non-null  object
 2   Airport: Name                            25429 non-null  object
 3   Altitude bin                             25429 non-null  object
 4   Aircraft: Make/Model                     25558 non-null  object
 5   Wildlife: Number struck                  25429 non-null  object
 6   Wildlife: Number Struck Actual           25558 non-null  int64
 7   Effect: Impact to flight                 25429 non-null  object
 8   FlightDate                               25429 non-null  datetime64[ns]
 9   Effect: Indicated Damage                 25558 non-null  object
 10  Aircraft: Number of engines?             25291 non-null  object
 11  Aircraft: Airline/Operator               25429 non-null  object
 12  Origin State                             25109 non-null  object
 13  When: Phase of flight                    25429 non-null  object
 14  Conditions: Precipitation                25558 non-null  object
 15  Remains of wildlife collected?           25558 non-null  bool
 16  Remains of wildlife sent to Smithsonian  25558 non-null  bool
 17  Remarks                                  20787 non-null  object
 18  Wildlife: Size                           25429 non-null  object
 19  Conditions: Sky                          25558 non-null  object
 20  Wildlife: Species                        25558 non-null  object
 21  Pilot warned of birds or wildlife?       25429 non-null  object
 22  Cost: Total $                            25558 non-null  int64
 23  Feet above ground                        25429 non-null  float64
 24  Number of people injured                 25558 non-null  int64
 25  Is Aircraft Large?                       25429 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(1), int64(4), object(18)
memory usage: 4.7+ MB

In [269]:
bird_df.isnull().sum()

Record ID                                     0
Aircraft: Type                              129
Airport: Name                               129
Altitude bin                                129
Aircraft: Make/Model                          0
Wildlife: Number struck                     129
Wildlife: Number Struck Actual                0
Effect: Impact to flight                    129
FlightDate                                  129
Effect: Indicated Damage                      0
Aircraft: Number of engines?                267
Aircraft: Airline/Operator                  129
Origin State                                449
When: Phase of flight                       129
Conditions: Precipitation                     0
Remains of wildlife collected?                0
Remains of wildlife sent to Smithsonian       0
Remarks                                    4771
Wildlife: Size                              129
Conditions: Sky                               0
Wildlife: Species                             0
Pilot warned of birds or wildlife?          129
Cost: Total $                                 0
Feet above ground                           129
Number of people injured                      0
Is Aircraft Large?                          129
dtype: int64

In [270]:
bird_df.iloc[5,0:].to_frame()

                                                                               5
Record ID                                                                 218432
Aircraft: Type                                                          Airplane
Airport: Name                                                GUAYAQUIL/S BOLIVAR
Altitude bin                                                           < 1000 ft
Aircraft: Make/Model                                                       A-300
Wildlife: Number struck                                                 Over 100
Wildlife: Number Struck Actual                                               537
Effect: Impact to flight                                                    None
FlightDate                                                   2003-07-24 00:00:00
Effect: Indicated Damage                                               No damage
Aircraft: Number of engines?                                                   2
Aircraft: Airline/Operator                                     AMERICAN AIRLINES
Origin State                                                                 NaN
When: Phase of flight                                               Take-off run
Conditions: Precipitation                                                   None
Remains of wildlife collected?                                             False
Remains of wildlife sent to Smithsonian                                    False
Remarks                                  NO DMG. BIRD REMAINS ON F/O WINDSCREEN.
Wildlife: Size                                                             Small
Conditions: Sky                                                         No Cloud
Wildlife: Species                                           Unknown bird - small
Pilot warned of birds or wildlife?                                             N
Cost: Total $                                                                  0
Feet above ground                                                            0.0
Number of people injured                                                       0
Is Aircraft Large?                                                            No

In [271]:
bird_df.drop('Record ID', axis = 1, inplace = True)

In [272]:
bird_df.head(3)

,Aircraft: Type,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,Aircraft: Number of engines?,...,Remains of wildlife sent to Smithsonian,Remarks,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23,Caused damage,2,...,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,N,30736,1500.0,0,Yes
1,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,None,2001-07-25,Caused damage,2,...,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,Y,0,0.0,0,No
2,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,None,2001-09-14,No damage,2,...,False,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,N,0,50.0,0,No

In [273]:
bird_df['Aircraft: Type'].unique()

array(['Airplane', nan], dtype=object)

In [274]:
bird_df['Airport: Name'].nunique()

1109

In [275]:
bird_df['Airport: Name'].duplicated().sum()

24448

In [276]:
values_counts = bird_df['Airport: Name'].value_counts()
duplicated_value_counts = values_counts[values_counts > 1]

In [277]:
duplicated_value_counts

DALLAS/FORT WORTH INTL ARPT    803
SACRAMENTO INTL                676
SALT LAKE CITY INTL            479
DENVER INTL AIRPORT            476
KANSAS CITY INTL               452
                              ...
ARNOLD PALMER REGIONAL           2
ROBT L BRADSHAW INTL             2
RAFAEL HERNANDEZ ARPT            2
DELTA COUNTY ARPT                2
PETER O KNIGHT ARPT              2
Name: Airport: Name, Length: 707, dtype: int64

In [257]:
bird_df.drop(['Remains of wildlife collected?',
              'Remains of wildlife sent to Smithsonian','Remarks'], axis = 1, inplace = True)

In [278]:
bird_df.drop('Aircraft: Type', axis = 1, inplace = True)

In [259]:
bird_df.head()

,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,Aircraft: Number of engines?,Aircraft: Airline/Operator,...,When: Phase of flight,Conditions: Precipitation,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
0,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,2000-11-23,Caused damage,2,US AIRWAYS*,...,Climb,None,Medium,No Cloud,Unknown bird - medium,N,30736,1500.0,0,Yes
1,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,None,2001-07-25,Caused damage,2,AMERICAN AIRLINES,...,Landing Roll,None,Small,Some Cloud,Rock pigeon,Y,0,0.0,0,No
2,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,None,2001-09-14,No damage,2,BUSINESS,...,Approach,None,Small,No Cloud,European starling,N,0,50.0,0,No
3,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,2002-09-05,No damage,2,ALASKA AIRLINES,...,Climb,None,Small,Some Cloud,European starling,Y,0,50.0,0,Yes
4,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,None,2003-06-23,No damage,2,COMAIR AIRLINES,...,Approach,None,Small,No Cloud,European starling,N,0,50.0,0,No

In [279]:
bird_df.shape

(25558, 24)

In [280]:
bird_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25558 entries, 0 to 25557
Data columns (total 24 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Airport: Name                            25429 non-null  object
 1   Altitude bin                             25429 non-null  object
 2   Aircraft: Make/Model                     25558 non-null  object
 3   Wildlife: Number struck                  25429 non-null  object
 4   Wildlife: Number Struck Actual           25558 non-null  int64
 5   Effect: Impact to flight                 25429 non-null  object
 6   FlightDate                               25429 non-null  datetime64[ns]
 7   Effect: Indicated Damage                 25558 non-null  object
 8   Aircraft: Number of engines?             25291 non-null  object
 9   Aircraft: Airline/Operator               25429 non-null  object
 10  Origin State                             25109 non-null  object
 11  When: Phase of flight                    25429 non-null  object
 12  Conditions: Precipitation                25558 non-null  object
 13  Remains of wildlife collected?           25558 non-null  bool
 14  Remains of wildlife sent to Smithsonian  25558 non-null  bool
 15  Remarks                                  20787 non-null  object
 16  Wildlife: Size                           25429 non-null  object
 17  Conditions: Sky                          25558 non-null  object
 18  Wildlife: Species                        25558 non-null  object
 19  Pilot warned of birds or wildlife?       25429 non-null  object
 20  Cost: Total $                            25558 non-null  int64
 21  Feet above ground                        25429 non-null  float64
 22  Number of people injured                 25558 non-null  int64
 23  Is Aircraft Large?                       25429 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(1), int64(3), object(17)
memory usage: 4.3+ MB

In [281]:
bird_df.isnull().sum()

Airport: Name                               129
Altitude bin                                129
Aircraft: Make/Model                          0
Wildlife: Number struck                     129
Wildlife: Number Struck Actual                0
Effect: Impact to flight                    129
FlightDate                                  129
Effect: Indicated Damage                      0
Aircraft: Number of engines?                267
Aircraft: Airline/Operator                  129
Origin State                                449
When: Phase of flight                       129
Conditions: Precipitation                     0
Remains of wildlife collected?                0
Remains of wildlife sent to Smithsonian       0
Remarks                                    4771
Wildlife: Size                              129
Conditions: Sky                               0
Wildlife: Species                             0
Pilot warned of birds or wildlife?          129
Cost: Total $                                 0
Feet above ground                           129
Number of people injured                      0
Is Aircraft Large?                          129
dtype: int64

In [282]:
bird_df.dropna(subset=['Airport: Name'], axis = 0, inplace = True)

In [283]:
bird_df.isnull().sum()

Airport: Name                                 0
Altitude bin                                  0
Aircraft: Make/Model                          0
Wildlife: Number struck                       0
Wildlife: Number Struck Actual                0
Effect: Impact to flight                      0
FlightDate                                    0
Effect: Indicated Damage                      0
Aircraft: Number of engines?                234
Aircraft: Airline/Operator                    0
Origin State                                449
When: Phase of flight                         0
Conditions: Precipitation                     0
Remains of wildlife collected?                0
Remains of wildlife sent to Smithsonian       0
Remarks                                    4761
Wildlife: Size                                0
Conditions: Sky                               0
Wildlife: Species                             0
Pilot warned of birds or wildlife?            0
Cost: Total $                                 0
Feet above ground                             0
Number of people injured                      0
Is Aircraft Large?                            0
dtype: int64

In [285]:
bird_df.to_csv(r"D:\UM internship\Bird Strike\birdnew.csv")

In [224]:
bird_df['Aircraft: Number of engines?'].unique()

array([2, 3, 4, nan, 1], dtype=object)

In [181]:
value_counts = bird_df['Aircraft: Number of engines?'].value_counts()
number_of_missing_values = value_counts[value_counts == 0]

In [185]:
bird_df['Aircraft: Number of engines?'].unique()

array([2, 3, 4, nan, 1, 'C'], dtype=object)

In [190]:
B = bird_df[bird_df['Aircraft: Number of engines?'] == 'C']

In [191]:
B

,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,Aircraft: Number of engines?,Aircraft: Airline/Operator,...,When: Phase of flight,Conditions: Precipitation,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
6664,MORGANTOWN MUNICIPAL ARPT,> 1000 ft,RKWLTRBO 690,1,1,None,2001-11-05,No damage,C,BUSINESS,...,Descent,None,Medium,No Cloud,Unknown bird - medium,N,0,4000.0,0,No

In [194]:
bird_df.at[6664,'Aircraft: Number of engines?'] = 2

In [215]:
filtered_df = bird_df[bird_df['Aircraft: Make/Model'] == 'RKWLTRBO 690']
filtered_df

,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,Aircraft: Number of engines?,Aircraft: Airline/Operator,...,When: Phase of flight,Conditions: Precipitation,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
208,BIRMINGHAM-SHUTTLESWORTH INTL,< 1000 ft,RKWLTRBO 690,2 to 10,6,None,2000-11-12,No damage,2,BUSINESS,...,Climb,None,Small,No Cloud,Mourning dove,Y,0,50.0,0,No
2519,NORTH BEND MUNICIPAL,< 1000 ft,RKWLTRBO 690,2 to 10,8,None,2008-07-01,No damage,2,BUSINESS,...,Approach,None,Small,Some Cloud,Western sandpiper,N,0,1.0,0,No
3760,ADDISON,< 1000 ft,RKWLTRBO 690,2 to 10,6,None,2010-11-12,No damage,2,BUSINESS,...,Landing Roll,Rain,Small,Some Cloud,Mourning dove,Y,0,0.0,0,No
3775,PORTLAND-HILLSBORO ARPT,< 1000 ft,RKWLTRBO 690,2 to 10,8,None,2010-11-20,Caused damage,2,BUSINESS,...,Approach,None,Medium,Overcast,Gulls,Y,0,2.0,0,No
4447,BARROW COUNTY ARPT,< 1000 ft,RKWLTRBO 690,11 to 100,81,Engine Shut Down,2004-10-13,Caused damage,2,BUSINESS,...,Climb,None,Large,Some Cloud,Canada goose,N,723987,50.0,0,No
5030,LAFAYETTE REGIONAL (LA),> 1000 ft,RKWLTRBO 690,1,1,None,2000-06-20,Caused damage,2,BUSINESS,...,Approach,None,Medium,Some Cloud,Unknown bird - medium,N,40091,1400.0,0,No
6640,FORT SMITH MUNICIPAL ARPT,< 1000 ft,RKWLTRBO 690,1,1,None,2001-10-25,No damage,2,BUSINESS,...,Taxi,None,Small,No Cloud,Northern bobwhite,Y,0,0.0,0,No
6664,MORGANTOWN MUNICIPAL ARPT,> 1000 ft,RKWLTRBO 690,1,1,None,2001-11-05,No damage,2,BUSINESS,...,Descent,None,Medium,No Cloud,Unknown bird - medium,N,0,4000.0,0,No
7269,BOWMAN FIELD,< 1000 ft,RKWLTRBO 690,1,1,None,2002-06-26,No damage,2,BUSINESS,...,Take-off run,None,Medium,Some Cloud,Unknown bird - medium,N,0,0.0,0,No
9279,BOEING FIELD K C INT,< 1000 ft,RKWLTRBO 690,1,1,None,2003-11-25,Caused damage,2,BUSINESS,...,Approach,None,Large,Some Cloud,Unknown bird - large,N,74086,600.0,0,No
10128,VAN NUYS ARPT,< 1000 ft,RKWLTRBO 690,1,1,None,2004-08-17,No damage,2,BUSINESS,...,Approach,None,Small,Some Cloud,Rock pigeon,N,0,200.0,0,No
11972,ROGUE VALLEY INTL,> 1000 ft,RKWLTRBO 690,1,1,None,2005-10-14,No damage,2,BUSINESS,...,Climb,None,Small,No Cloud,Unknown bird - small,N,0,3000.0,0,No
12084,SALINAS MUNICIPAL ARPT,< 1000 ft,RKWLTRBO 690,1,1,None,2005-11-03,No damage,2,BUSINESS,...,Landing Roll,None,Small,No Cloud,Unknown bird - small,N,0,0.0,0,No
13139,ATLANTA INTL,< 1000 ft,RKWLTRBO 690,1,1,None,2006-08-06,No damage,2,BUSINESS,...,Take-off run,None,Small,Some Cloud,Unknown bird - small,N,0,0.0,0,No
13165,NORTH CENTRAL WEST VIRGINIA ARPT,< 1000 ft,RKWLTRBO 690,1,1,None,2006-08-10,No damage,2,BUSINESS,...,Climb,None,Small,Some Cloud,Killdeer,N,0,8.0,0,No
13200,UNIV OF ILLINOIS -WILLARD ARPT,< 1000 ft,RKWLTRBO 690,1,1,None,2006-08-14,No damage,2,BUSINESS,...,Approach,Fog,Small,Some Cloud,European starling,N,0,100.0,0,No
15088,SARASOTA-BRADENTON,< 1000 ft,RKWLTRBO 690,1,1,None,2007-08-08,No damage,2,BUSINESS,...,Take-off run,None,Medium,Some Cloud,Unknown bird - medium,Y,0,0.0,0,No
15193,FORT WAYNE INTL,< 1000 ft,RKWLTRBO 690,1,1,None,2007-08-19,No damage,2,BUSINESS,...,Approach,Rain,Medium,Overcast,American crow,Y,0,50.0,0,No
15855,EASTERN OREGON REGIONAL ARPT,< 1000 ft,RKWLTRBO 690,1,1,None,2007-11-30,No damage,2,AERO AIR,...,Landing Roll,Snow,Small,Overcast,Unknown bird - small,N,0,0.0,0,No
15946,RENTON MUNICIPAL ARPT,< 1000 ft,RKWLTRBO 690,1,1,None,2008-01-09,No damage,2,BUSINESS,...,Climb,Rain,Large,Overcast,Unknown bird - large,N,0,10.0,0,No
18167,NAPLES MUNICIPAL,< 1000 ft,RKWLTRBO 690,1,1,Other,2009-04-14,Caused damage,2,BUSINESS,...,Approach,None,Large,Overcast,Bald eagle,N,843,4.0,0,No
19855,NORTH CENTRAL WEST VIRGINIA ARPT,> 1000 ft,RKWLTRBO 690,1,1,None,2009-09-25,No damage,2,BUSINESS,...,Descent,None,Medium,No Cloud,Unknown bird - medium,N,0,2500.0,0,No
20208,FALCON FIELD ARPT,< 1000 ft,RKWLTRBO 690,1,1,Precautionary Landing,2009-10-23,Caused damage,2,BUSINESS,...,Climb,None,Medium,No Cloud,Red-tailed hawk,N,0,37.0,0,No
22155,RENTON MUNICIPAL ARPT,< 1000 ft,RKWLTRBO 690,1,1,None,2010-08-26,No damage,2,BUSINESS,...,Approach,None,Small,Overcast,European starling,N,0,50.0,0,No
23144,COLUMBIA GORGE REGIONAL ARPT,< 1000 ft,RKWLTRBO 690,1,1,Other,2011-01-12,No damage,2,UNKNOWN,...,Taxi,None,Medium,Some Cloud,Ring-necked pheasant,N,2500,0.0,0,No

In [230]:
bird_df[pd.isnull(bird_df['Aircraft: Number of engines?'])]

,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,Aircraft: Number of engines?,Aircraft: Airline/Operator,...,When: Phase of flight,Conditions: Precipitation,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
42,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,2 to 10,10,None,2000-04-06,No damage,NaN,MILITARY,...,Approach,None,Medium,No Cloud,Unknown bird or bat,Y,0,1000.0,0,No
61,BARKSDALE AIR FORCE BASE ARPT,> 1000 ft,B-52H,2 to 10,9,None,2000-05-18,No damage,NaN,MILITARY,...,Approach,None,Small,No Cloud,Cape May warbler,Y,0,1200.0,0,No
211,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,2 to 10,5,None,2000-11-13,No damage,NaN,MILITARY,...,Approach,None,Small,No Cloud,American pipit,Y,7879,500.0,0,No
217,CHARLESTON AFB/INTL ARPT,> 1000 ft,C-17A,2 to 10,8,None,2000-11-29,No damage,NaN,MILITARY,...,Approach,None,Medium,No Cloud,Unknown bird or bat,Y,0,1600.0,0,No
221,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,2 to 10,2,Precautionary Landing,2000-12-12,Caused damage,NaN,MILITARY,...,Climb,None,Medium,No Cloud,Gadwall,Y,458207,500.0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25076,ELLINGTON FIELD ARPT,< 1000 ft,T-38A,1,1,None,2011-10-07,No damage,NaN,GOVERNMENT,...,Take-off run,None,Small,No Cloud,Cliff swallow,N,0,0.0,0,No
25159,JOHN F KENNEDY INTL,< 1000 ft,CRJ-440,1,1,None,2011-10-16,No damage,NaN,PINNACLE,...,Landing Roll,None,Small,No Cloud,Short-eared owl,Y,0,0.0,0,No
25184,FORT LAUDERDALE EXECUTIVE ARPT,< 1000 ft,PA-31-350,1,1,None,2011-10-18,No damage,NaN,BUSINESS,...,Approach,None,Small,Overcast,American kestrel,N,0,20.0,0,No
25215,HONOLULU INTL ARPT,< 1000 ft,F/A-18,1,1,None,2011-10-22,No damage,NaN,HAWAIIAN AIR,...,Landing Roll,None,Small,No Cloud,Unknown bird - small,N,0,0.0,0,No
25474,KALAELOA ARPT JOHN RODGERS FIELD,< 1000 ft,DA-40,1,1,None,2011-11-30,No damage,NaN,BUSINESS,...,Taxi,None,Small,No Cloud,Zebra dove,N,0,0.0,0,No

In [237]:
filtered_data = bird_df[bird_df['Aircraft: Make/Model'] == 'B-52H']
filtered_data

,Airport: Name,Altitude bin,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,Aircraft: Number of engines?,Aircraft: Airline/Operator,...,When: Phase of flight,Conditions: Precipitation,Wildlife: Size,Conditions: Sky,Wildlife: Species,Pilot warned of birds or wildlife?,Cost: Total $,Feet above ground,Number of people injured,Is Aircraft Large?
42,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,2 to 10,10,None,2000-04-06,No damage,NaN,MILITARY,...,Approach,None,Medium,No Cloud,Unknown bird or bat,Y,0,1000.0,0,No
61,BARKSDALE AIR FORCE BASE ARPT,> 1000 ft,B-52H,2 to 10,9,None,2000-05-18,No damage,NaN,MILITARY,...,Approach,None,Small,No Cloud,Cape May warbler,Y,0,1200.0,0,No
211,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,2 to 10,5,None,2000-11-13,No damage,NaN,MILITARY,...,Approach,None,Small,No Cloud,American pipit,Y,7879,500.0,0,No
221,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,2 to 10,2,Precautionary Landing,2000-12-12,Caused damage,NaN,MILITARY,...,Climb,None,Medium,No Cloud,Gadwall,Y,458207,500.0,0,No
286,BARKSDALE AIR FORCE BASE ARPT,> 1000 ft,B-52H,2 to 10,8,Precautionary Landing,2001-05-23,No damage,NaN,MILITARY,...,Approach,None,Medium,No Cloud,Unknown bird or bat,Y,0,1800.0,0,No
340,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,2 to 10,9,None,2001-08-13,No damage,NaN,MILITARY,...,Take-off run,None,Small,No Cloud,Mourning dove,Y,0,0.0,0,No
483,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,2 to 10,3,None,2002-02-14,No damage,NaN,MILITARY,...,Approach,None,Small,No Cloud,American robin,Y,0,150.0,0,No
533,BARKSDALE AIR FORCE BASE ARPT,> 1000 ft,B-52H,2 to 10,9,None,2002-05-23,No damage,NaN,MILITARY,...,Approach,None,Medium,No Cloud,Unknown bird or bat,Y,0,2000.0,0,No
552,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,2 to 10,7,None,2002-07-01,No damage,NaN,MILITARY,...,Climb,None,Medium,No Cloud,Unknown bird or bat,Y,0,0.0,0,No
583,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,2 to 10,7,Precautionary Landing,2002-07-25,No damage,NaN,MILITARY,...,Climb,None,Medium,No Cloud,Unknown bird or bat,Y,0,0.0,0,No
658,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,2 to 10,3,None,2002-09-09,No damage,NaN,MILITARY,...,Take-off run,None,Medium,Some Cloud,Unknown bird or bat,Y,0,100.0,0,No
746,BARKSDALE AIR FORCE BASE ARPT,> 1000 ft,B-52H,2 to 10,9,None,2002-11-13,No damage,NaN,MILITARY,...,Approach,None,Medium,Overcast,Unknown bird or bat,Y,0,2000.0,0,No
4835,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,1,1,None,2000-04-20,No damage,NaN,MILITARY,...,Take-off run,None,Medium,No Cloud,Unknown bird or bat,Y,0,0.0,0,No
4936,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,1,1,None,2000-05-16,No damage,NaN,MILITARY,...,Approach,None,Medium,No Cloud,Unknown bird or bat,Y,0,25.0,0,No
5743,BARKSDALE AIR FORCE BASE ARPT,> 1000 ft,B-52H,1,1,None,2000-12-01,No damage,NaN,MILITARY,...,Approach,None,Medium,Some Cloud,Unknown bird or bat,Y,0,1800.0,0,No
5891,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,1,1,None,2001-04-02,No damage,NaN,MILITARY,...,Approach,None,Medium,No Cloud,Unknown bird or bat,Y,0,200.0,0,No
5910,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,1,1,Precautionary Landing,2001-04-05,No damage,NaN,MILITARY,...,Approach,None,Medium,No Cloud,Unknown bird or bat,Y,0,40.0,0,No
5936,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,1,1,Precautionary Landing,2001-04-18,No damage,NaN,MILITARY,...,Approach,None,Medium,No Cloud,American coot,Y,12029,800.0,0,No
5958,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,1,1,Precautionary Landing,2001-04-27,No damage,NaN,MILITARY,...,Climb,None,Medium,No Cloud,Unknown bird or bat,Y,0,1000.0,0,No
5959,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,1,1,Precautionary Landing,2001-04-27,No damage,NaN,MILITARY,...,Climb,None,Medium,No Cloud,Unknown bird or bat,Y,0,1000.0,0,No
6012,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,1,1,Precautionary Landing,2001-05-15,No damage,NaN,MILITARY,...,Approach,None,Medium,No Cloud,Unknown bird or bat,Y,0,1000.0,0,No
6106,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,1,1,None,2001-06-17,No damage,NaN,MILITARY,...,Approach,None,Medium,No Cloud,Unknown bird or bat,Y,0,100.0,0,No
6351,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,1,1,Precautionary Landing,2001-08-15,No damage,NaN,MILITARY,...,Take-off run,None,Medium,No Cloud,Unknown bird or bat,Y,0,60.0,0,No
6638,BARKSDALE AIR FORCE BASE ARPT,> 1000 ft,B-52H,1,1,Precautionary Landing,2001-10-24,No damage,NaN,MILITARY,...,Approach,None,Medium,No Cloud,Unknown bird or bat,Y,0,3000.0,0,No
7050,BARKSDALE AIR FORCE BASE ARPT,> 1000 ft,B-52H,1,1,Precautionary Landing,2002-05-07,No damage,NaN,MILITARY,...,Approach,None,Small,Some Cloud,American kestrel,Y,0,2000.0,0,No
7355,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,1,1,Precautionary Landing,2002-07-15,No damage,NaN,MILITARY,...,Climb,None,Small,Some Cloud,Barn swallow,Y,0,500.0,0,No
7370,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,1,1,None,2002-07-18,No damage,NaN,MILITARY,...,Take-off run,None,Medium,No Cloud,Unknown bird or bat,Y,0,0.0,0,No
8005,BARKSDALE AIR FORCE BASE ARPT,< 1000 ft,B-52H,1,1,None,2002-11-12,No damage,NaN,MILITARY,...,Approach,None,Medium,No Cloud,Unknown bird or bat,Y,0,800.0,0,No

In [235]:
result = filtered_data['Aircraft: Number of engines?']

42      NaN
61      NaN
211     NaN
221     NaN
286     NaN
340     NaN
483     NaN
533     NaN
552     NaN
583     NaN
658     NaN
746     NaN
4835    NaN
4936    NaN
5743    NaN
5891    NaN
5910    NaN
5936    NaN
5958    NaN
5959    NaN
6012    NaN
6106    NaN
6351    NaN
6638    NaN
7050    NaN
7355    NaN
7370    NaN
8005    NaN
Name: Aircraft: Number of engines?, dtype: object

In [243]:
bird_df.to_csv(r'D:\UM internship\Bird Strike\bird_strike_URMproject.csv')